<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>sh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.shell-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bash</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Bash Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.bash-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>TENEX C Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tcsh-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>csh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>C Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.csh-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Zsh Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zsh-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ksh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Korn Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ksh-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Perl Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.perl-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Python Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.python-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ruby-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>osascript</string>
				<string>scpt</string>
				<string>applescript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>AppleScript File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.applescript.script</string>
				<string>com.apple.applescript.text</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcl</string>
				<string>tclsh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Tcl Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tcl-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exp</string>
				<string>expect</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Expect Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.expect-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>php5</string>
				<string>php6</string>
				<string>php7</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>PHP Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.php-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>swift</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Swift Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.swift-source</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>awk</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>AWK Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.awk-script</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScriptDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>JavaScript Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>platypus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProfileDocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Platypus Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.sveinbjorn.platypus-profile</string>
			</array>
			<key>NSExportableTypes</key>
			<array>
				<string>com.apple.application</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Platypus</string>
	<key>CFBundleGetInfoString</key>
	<string>© 2003-2025 Sveinbjorn Thordarson.</string>
	<key>CFBundleIconFile</key>
	<string>PlatypusAppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>org.sveinbjorn.Platypus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Platypus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1277</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2003-2025 Sveinbjorn Thordarson.</string>
	<key>NSMainNibFile</key>
	<string>Platypus</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://sveinbjorn.org/files/appcasts/PlatypusAppcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>XqfjBk0i1aF2FrZQfUIcpU+h7151345+3pSN9Bs7GwI=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Platypus Profile</string>
			<key>UTTypeIconFile</key>
			<array>
				<string>ProfileDocument.icns</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.sveinbjorn.platypus-profile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>platypus</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
