<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AcceptsFiles</key>
	<true/>
	<key>AcceptsText</key>
	<true/>
	<key>Creator</key>
	<string>Platypus-5.0</string>
	<key>DropSuffixes</key>
	<array>
		<string>txt</string>
	</array>
	<key>Droppable</key>
	<true/>
	<key>DropUniformTypes</key>
	<array>
		<string>public.image</string>
	</array>
	<key>InterpreterArgs</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>OutputType</key>
	<string>Progress Bar</string>
	<key>PromptForFileOnLaunch</key>
	<false/>
	<key>RemainRunningAfterCompletion</key>
	<true/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptArgs</key>
	<array/>
	<key>ScriptInterpreter</key>
	<string>/bin/sh</string>
	<key>Secure</key>
	<false/>
	<key>StatusItemUseSystemFont</key>
	<true/>
	<key>TextBackground</key>
	<string>#ffffff</string>
	<key>TextEncoding</key>
	<integer>4</integer>
	<key>TextFont</key>
	<string>Monaco</string>
	<key>TextForeground</key>
	<string>#000000</string>
	<key>TextSize</key>
	<real>10</real>
</dict>
</plist>
